@*@model IEnumerable<CollegeApp.Models.Student>*@
@model task.Models.Person
@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>
<form asp-action="Create">
    
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Id" class="control-label">Id</label>
        <input asp-for="Id" class="form-control" />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FName" class="control-label">First Name</label>
        <input asp-for="FName" class="form-control" />
        <span asp-validation-for="FName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LName" class="control-label">Last Name</label>
        <input asp-for="LName" class="form-control" />
        <span asp-validation-for="LName" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <input type="submit" value="Add To List" class="btn btn-primary" />
    </div>
    @if (TempData["Msg"] != null)
    {
        <div class="alert alert-primary mt-3">
            @TempData["Msg"]
        </div>
    }
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                First Name
            </th>
            <th>
               Last Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Person)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.FName
                </td>
                <td>
                    @item.LName
                </td>
                
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}